


.agent-main-container {
  margin: 0 24px;
 
}

.agent-main-container > div:nth-child(1) > a > button {
  margin-bottom: 10px;
  border: none;
  padding: 4px 12px;
  background: #2ea7ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}